/* Styling for Live PDF Preview */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.pdf-preview {
  margin-top: 40px;
  background-color: #fff;

  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}
body{
  font-family: 'Inter';
}

.pdf-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.company-name {
  font-weight: bolder;
  text-align: center;
}

.invoice-details {
  text-align: right;
}

.preview-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

}

.preview-table th, .preview-table td {
  padding: 8px;
  text-align: left;
  /* border: 1px solid black; */
}

.preview-table th {
  background-color: #f4f4f4;
}

.total-amount {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding:6px;
  text-align: right;

  display: flex;
  justify-content: space-between;
}

.terms {
  margin-top: 20px;
}

.signature {
  margin-top: 30px;
  text-align: right;
  font-style: italic;
}
